@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
}

#grilla {  
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.5fr 0.5fr 1.5fr 0.5fr 0.1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "banner"
    "main"
    "section"
    "contactanos"
    "footer";
}

header { 
  grid-area: header; 
}

.banner { 
  grid-area: banner; 
  background-color: #fcfafa;
}

main { 
  grid-area: main; 
  background-color: #f1f1f1;
}

section { 
  grid-area: section;
  background-color: #f1f1f1;
}

#contactanos {
  grid-area: contactanos; 
  background-color: #F1FAFF;
}

footer{ 
  grid-area: footer; 
  background-color: #f1f1f1; 
}

.remove_bg{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

/* ----------------------------HEADER---------------------------- */
header{
  width:100%;
  background-color: #fcfafa;
}

.burgerMenu{
  text-transform: uppercase;
  font-size: 20px;
}

.menu{
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  display: none;
}

.logo{
  width: 50px;
  margin-left: 10px;
  margin-top: 7px;
}

.menuItems li a{
  color: black;
}


/* ----------------------------BANNER---------------------------- */
.bannerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.bannerTitle{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Bebas Neue', 'sans-serif';
  margin-top: 40px;
  font-size: 30px;
  word-spacing: 3px;
  letter-spacing: 1px;
  padding-left: 3%;
  padding-right: 3%;
}

.bannerImg{
  width: 190px;
}

.buttonIndex{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 40%;
  height: 30px;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 25px;
  padding: 20px;
  background-color: #24303c;
  color: #fff;
}

/* ----------------------------MAIN---------------------------- */
.title{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Bebas Neue', 'sans-serif';
  margin-top: 40px;
  font-size: 50px;
}

.mainText{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 30px;
}

.buttonSobreNosotros{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  width: 40%;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  background-color: #24303c;
  color: #fff;
}


/* ----------------------------SECTION---------------------------- */
.serviciosCardContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.serviciosCard{
  width: 270px;
  height: 290px;
  margin: 30px;
  border-radius: 6px;
  background-color: #ffff;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
  cursor: default;
}

.serviciosCard img {
  width: 100%;
  border-radius: 3px;
}

.serviciosCardContent h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.buttonLeerMas{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* ----------------------------SECTION EN INDEX CONTACTÁNOS---------------------------- */

.subtitulo{
  font-size: 40px;
  font-family: 'Bebas Neue', 'sans-serif';
}

.index_contact{
  display: none;
}

#contactanos h3{
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;;
}

#contactanos p{
  text-align: center;
  font-size: 17px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 12px;
}

.formulario{
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 480px;
  width: 80%;
  margin-top:50px;
  color: #fff;
}

.formulario input{
  border-radius: 4px;
}

input, textarea{
  background-color:#ffff;
  width: 100%;
  padding: 10px;
  margin-bottom: 35px;
}

textarea{
  margin-top: 15px;
  height: 100px;
}

.submitButton{
  background: #1f53c5;
  padding: 12px;
  cursor: pointer;
  color: #ffff;
}

.indexContactText img{
  display: none;
}

.indexContactText h3 {
  display: none;
}

.indexContactText p{
  display: none;
}
/* ----------------------------FOOTER---------------------------- */

.footerContent{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.footerContent a {
  color: black;
}

.copyright p{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0 !important;
}



/* ----------------------------SECCION QUIENES SOMOS---------------------------- */

#grillaQuienesSomos{ 
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 2fr 0.5fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header { 
  grid-area: header; 
}

#mainQuienesSomos { 
  grid-area: main;
  background-color: #ffff; 
}

footer{ 
  grid-area: footer; 
  background-color: #f1f1f1; 
}

.usContent{
  text-align: center;
  margin-top: 25px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 18px;;
}

.logoQuienesSomos{
  display: none;
}

/* ----------------------------SECCION SERVICIOS---------------------------- */

#grillaServicios{
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 110px 2fr 100px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header { 
  grid-area: header; 
}

#mainServicios { 
  grid-area: main;
  background-color: #ffff; 
}

footer{ 
  grid-area: footer; 
  background-color: #f1f1f1; 
}

#cardServicios serviciosCardContent h3{
  display: block;
}

.serviciosTitle{
  display: flex;
  justify-content:center;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Bebas Neue', 'sans-serif';
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-top: 50px;
}

.serviciosContainer{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.serviciosCard{
  width: 280px;
  margin: 20px;
}

.cardTitle{
  text-align: center;
  border-bottom:  1px solid #24303c;
}

.serviciosCardContent{
  padding: 0% 6% 0% 6%;
  height: 15rem;
}

.serviciosCardContent{
  font-size: 15px;
}

.card-body h5{
  height: 50px;
}

 /* ----------------------------SECCION CLIENTES---------------------------- */

#grillaClientes{
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 110px 2fr 0.5fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header { 
  grid-area: header; 
}

#mainClientes { 
  grid-area: main;
  background-color: #ffff; 
}

footer{ 
  grid-area: footer; 
  background-color: #f1f1f1; 
}


.clientesContainer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.cardCliente{
  width: 200px;
  background-color: #ffff;
  margin: 50px 25px 0px 25px;
  border: none;
}

.cardCliente img{
  width: 100%;
}

.card{
  margin: 25px;
}
 /* ----------------------------SECCION BUSINESS---------------------------- */

 #grillaBusiness{
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 110px 2fr 0.1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "main"
    "footer";
 }

header { 
  grid-area: header; 
}

#mainBusiness { 
  grid-area: main;
  background-color: #ffff;
}

footer{ 
  grid-area: footer; 
  background-color: #f1f1f1; 
}

.contentBusiness{
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 25px;
  font-size: 18px;
}

.businessPhotos{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin-bottom: 30px;
}

.cards{
  width: 250px;
  margin: 50px 25px 0px 25px;
  border-radius:6px;
}

.cards img{
  width: 250px;
  height:100%;
  border-radius: 5px;
}

 /* ----------------------------SECCION CONTACTO---------------------------- */

#grillaContacto{
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 110px 2fr 0.1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header { 
  grid-area: header; 
}

#mainContacto { 
  grid-area: main;
  background-color: #ffff; 
}

footer{ 
  grid-area: footer; 
  background-color: #f1f1f1; 
}

.formulario2{
  display: none;
}

/* ----------------------------MEDIA QUERIES---------------------------- */

@media (min-width: 768px){
  #grilla {
    grid-template-rows: 0.3fr 0.5fr 0.5fr 1fr 0.5fr 0.1fr;
  }

  .serviciosCardContainer{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #grillaQuienesSomos{
    grid-template-rows: 0.3fr 1.5fr 0.5fr;
  }

  .serviciosContainer{
    width: 90%;
    margin: auto;
  }

  .clientesContainer{
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 1024px) {

  label {
    display: none;
  }

  .burgerMenu{
    display: none;
  }

  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }

  .menuItems{
    display: flex;
    gap: 25px;
    margin-right: 20px;
  } 

  .menuItems li a{
    text-decoration: none;
  }

  .serviciosCardContainer{
    width: 80%;
  }
}

@media (min-width: 1200px) {

  #grilla{
    grid-template-rows: 0.3fr 0.5fr 0.5fr 0.5fr 0.8fr 0.1fr;
  }

  .banner{
    height:100vh;
  }

  .bannerTitle{
    text-align: center;
    margin-top: 60px;
    font-size: 45px;
    word-spacing: 8px;
    letter-spacing: 2px;
  }

  .logo{
    width: 80px;
  }

  .menuItems{
    margin-right: 60px;
    gap: 35px;
    font-size: 18px;
  }

  .serviciosCardContainer{
    width: 70%;
  }

  .menuItems li a:hover{
    opacity: 0.5;
  }

  .bannerImg{
    width: 300px;
  }

  .buttonIndex{
    width: 10%;
  }

  .mainText{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    padding-left: 15%;
    padding-right: 15%;
  }

  .buttonSobreNosotros{
    width: 10%;
  }

  .serviciosCard{
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 0.25s;
  }

  .serviciosCard:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2)
  }

  .formulario{
    display: none;
  }

  .indexContact{
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
  }

  .indexContactText{
    color: black;
    width: 40%;
    text-align: center;
  }

  .indexContactText p{
    display: block;
    margin-top: 15px;
  }

  .indexContactText h3{
    display: block;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
    word-spacing: 2px;
    padding-top: 80px;
  }

  .indexContactText img {
    display:block;
    margin: auto;
    width: 35%;
    text-align: center;
    margin-top: 38px;
  }

  .indexContact form{
    width: 60%;
  }

  .formulario2{
  color:#ffff;
  width: 65%;
  background-color: #24303c;
  padding: 25px;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px;
  box-shadow: 7px 13px 37px #000;
  display:block;
  }

  input, textarea{
  background-color:#24303c;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #1f53c5;
  color: #ffff;
  }

  form label{
  display: block;
  }

  textarea{
  height: 100px;
  }

  .submitButton{
  background: #1f53c5;
  border: none;
  cursor: pointer;
  color: #ffff;
  margin: 18px 0;
  font-family: 'Poppins', sans-serif;
  }

  .subtitulo{
    display: none;
  }

  .subtituloContenido{
    display: none;
  }

  #grillaQuienesSomos{
    grid-template-rows: 0.3fr 3fr 0.5fr;
  }

  .usContent{
    padding-left: 15%;
    padding-right: 15%;
  }


  #mainQuienesSomos{
    height: 100vh;
  }

  #mainServicios{
    height: 100vh;
  }

  #mainBusiness{
    height: 100vh;
  }

  #mainClientes{
    height: 100vh;
  }

  #mainContacto{
    height: 100vh;
  }

  /* CREANDO ANIMACIONES Y TRANSICIONES DESAFIO ENTREGABLE */

  .logoQuienesSomos{
    display: block;
    width: 250px;
    margin: auto;
    margin-top: 50px;
    animation: fantasma 3s infinite;
  }

  @keyframes fantasma{
    0%{opacity: 0%;}

    25%{transform: translateY(-20px);
    opacity: 100%;
    }

    100%{opacity: 0%}
  }

  /* BOOTSTRAP  */


}